h3
{
    text-align:left;
}
.create
{
    margin-left:10%;
}
th{


    font-size: 2.3vmin;
    color: #162f4d;
    border:1px solid rgb(41, 36, 36);
    
    
    } 
    tr.mat-header-row{
     background-color:#f7f9ff;
   
    height:6vh;
     
    }
    td{
    
    text-align: left;
    background-color:rgba(255, 255, 255, 0);
    font-size:2.2vmin;
    color:#474747;
    text-align:center;
    border:1px solid rgb(41, 36, 36);
    }
    td{
        padding-left:4px;
    }
    
    td{
        text-align:left;
    }
    tr
     {
      border: 1px solid rgba(204, 204, 204, 1);
    }